*{
	margin:0;
	padding: 0;
}

html {
  font-size: 16px;
}

.outerarea-events .header-section__block .img-images{
	display: block;
	width: 55%;
	margin: 0 auto;	
}

.seat-border{
	background: #000;
	width: 500px
	height: 200px;
}

/* Color booking condition !*/
.seat-booked{
	background: #ff0500 !important;
	color:#fff !important;
}

.seat-container {
	display: block;
	padding: 0 5em;
	height: 600px;
}

.seat-container .inner-seatborder__people{
	margin-bottom: 1em;
}

.seat-container .inner-seatborder__people .heading-box__titles .heading__seat{
	text-align: center;
	font-size: 2em;
}

.seat-container .heading-box__titles .heading__seat{
	font-weight: bold;
	font-size: 2em;
	margin :5px 0;
}

.box-padd{
	padding: 7px; 
}

.circle-box{
	display: flex;
	border :2px solid #009394;
	border-radius: 30px;
}

.circle-box .box__numbering{
    background: #b8c0c9;
    color: #000;
    padding: 14px 2px;
    font-size: 1.1em;
    margin: 10px 7px 8px;
    border: 1px solid #636363;
    border-radius: 100%;
    display: inline-block; 
    width: 58px;
    height: 32px;
    text-align: center;
}

.circle-box-vip{
    border: 2px solid #d00000 !important;	
}

.circle-box-noborder{
	display: flex;
	padding: 0 25px;
	border-radius: 30px;
	margin-bottom: -4px;
}

.circle-box-noborder .box__numbering{
	background: #b8c0c9;
    color: #000;
    padding: 14px 2px;
    font-size: 1.2em;
    margin: 10px 7px 8px;
    border: 1px solid #636363;
    border-radius: 100%;
    display: inline-block; 
    width: 58px;
    height: 32px;
    text-align: center;
}

.box__numbering .numbering__fonts{
	position: relative;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-areas .block-information .block-apps{
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.footer-areas .block-information .block-apps{
	background:#ffeb3b87;
	padding: 10px 20px;
	width: 150px;
	height: 35px;
	text-align: center;
	color: #616161;
	font-weight: bold;
	border-radius: 10px;
}

.block-apps p{ 
	font-size: 1.5em;
}

.border-seats{
	border-left:2px solid #a5a5a5;
	padding-left: 15px;
}

.border-seats.circle-rounds__reds{
	width: 50px;
	height: 50px;
	background:red;
}

.border-seats.circle-rounds__blue{
	width: 50px;
	height: 50px;
	background:blue;
}

/* Make Calculation in Grids*/
.column {
	float: left;
	width: 36.33%;
}
.column-2{
	float: left;
	width: 14.22%; 	
}

.column-2-seat{
	float: left;
	width: 13.22%; 	
}

.column-3{
	float: left;
	width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Helpers*/
.mt-right{
	margin-right: 58px;
}

.mt-left-40{
	margin-left: 40px;
}

.mt-left-20-em{
	margin-left: 20em;
}

.text-center{
	text-align: center;
}

